@import url('https://fonts.googleapis.com/css?family=Lobster');

body, html {
  background-color: #000000;
  scroll-behavior: smooth;
}
h2{
  font-family: Lobster, Monospace; 
  color: grey;
}
.thick-grey-border{
  border-color:grey;
  border-width:15px;
  border-style:solid;
  border-radius:300px;
}

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

p{
  color: white;
}
.white-text{
  color: white;
}
.small-text{
  font-size:15px;
}
.grey-text{
  color:grey;
}

.logo
{
display:inline-block;
margin-left:auto;
margin-right:auto;
width:400px;
height:521px;
}
#inner{
  width:100%;
  margin:0 auto;
}
.center{
  display: block;
  margin: auto auto;
  padding: 5px;
}

.text-center {
  font-size: 25px;
  text-align: center;
}

.sign {
  font-size: 15px;
  text-align: right;
}

.vid {
  margin: 0 auto;
  display: block;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 1020px;
  height: 720px;
}

.nav ul {
  margin-top: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  font-size: 1.4em;
  color: grey;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 3em;
}

.main-nav {
  text-align: right;
}

#navbar {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 10px;
}